/* You can add global styles to this file, and also import other style files */
body{
    background-image:url(bank.gif);
     height: 500px; 
     background-position: center; 
     background-repeat: no-repeat; 
     background-size: cover;
     background-size: 1200px 900px;
     border-radius: 25px;
  
    }
 
 .container{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(0, 0, 0);
 }
 
  /* background-color: rgba(6, 241, 112, 0.425)(102, 255, 0);
  position: relaive;
  animation-duration: 4s;
  animation-delay: 2s;
 }
 @keyframes example {
    0%   {background-color:rgba(85, 253, 51, 0.719); left:0px; top:0px;}
    25%  {background-color:rgba(255, 255, 0, 0.733); left:200px; top:0px;}
    50%  {background-color:rgba(149, 18, 201, 0.664); left:200px; top:200px;}
    75%  {background-color:rgba(255, 91, 140, 0.678); left:0px; top:200px;}
    100% {background-color:rgba(0, 255, 179, 0.74); left:0px; top:0px;}
  } */

  .two{
   border: 1px solid;
   padding: 10px;
   box-shadow: 5px 10px 18px rgb(0, 0, 0);
   background-color: rgba(110, 255, 142, 0.63);
   margin-left: 500px;
  }